#Menu {
    background-color: red;
    height: 200px;
    width: 100%;
}

#Corps {
    width: 100%;
    height: 500px;
    background-color: green;
}

#Footer {
    width: 100%; /*Largeur de la div parent Footer*/
    height: 150px;
    background-color: blue; 
}