div{
    background-color: greenyellow;
    float: left;
}

#Menu {
    background-color: red;
    width: 100%;
    height: 200px;
}

#Corps {
    width: 100%;
}

#Footer {
    width: 100%; /*Largeur de la div parent Footer*/
    background-color: blue; 
    height: 150px;
}

.divLongue{
    width: 100%
}

#sousMenuA{
    width: 250px;
    height: 400px;
    background-color: rgb(150, 7, 163);
    float: left;
}

#sousMenuB{
    width: 250px;
    height: 400px;
    background-color: rgb(182, 21, 174);
    float: left;
}

#blocNews{
    width: 200px;
    height: 200px;
    background-color: orange;
    float: right;
    position: relative; 
    top: 10px;
    left: -10px;
}

.paragraphe {
    margin: 5px;
    width: 1000px;
    float: inherit;
}

/*Exercice 4 - Structuration du texte*/

#texteBleu{
    color: blue;
    font-size: 20px;
    display: flex;
    float: left;
    text-align: center;
    padding: 10px;
}

/*Exercice 5 - Phrases qui se suivent*/
#texteRouge{
    color: red;
    font-size: 30px;
    display: flex;
    float: left;
    text-align: center;
}